USE [master]
GO
/****** Object:  Database [SHOPPET]    Script Date: 8/30/2021 4:15:54 PM ******/
CREATE DATABASE [SHOPPET]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SHOPPET', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\SHOPPET.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SHOPPET_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\SHOPPET_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SHOPPET].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SHOPPET]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 8/30/2021 4:15:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](50) NULL,
	[Password] [varchar](50) NULL,
 CONSTRAINT [PK_Account] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bill]    Script Date: 8/30/2021 4:15:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bill](
	[BillId] [int] IDENTITY(1,1) NOT NULL,
	[Billdate] [date] NOT NULL,
	[CusName] [nvarchar](50) NOT NULL,
	[EmpName] [nvarchar](50) NOT NULL,
	[Total] [float] NOT NULL,
 CONSTRAINT [PK_Bill] PRIMARY KEY CLUSTERED 
(
	[BillId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 8/30/2021 4:15:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[CusId] [int] IDENTITY(1,1) NOT NULL,
	[CusName] [nvarchar](50) NOT NULL,
	[CusPhone] [varchar](50) NOT NULL,
	[CusAddr] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[CusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Details]    Script Date: 8/30/2021 4:15:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Details](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Product] [nvarchar](50) NULL,
	[Quanlity] [int] NULL,
	[Price] [float] NULL,
	[Total] [float] NULL,
	[IDBills] [int] NULL,
	[Category] [varchar](20) NULL,
	[IDProduct] [int] NULL,
 CONSTRAINT [PK_Details] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 8/30/2021 4:15:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[EmpID] [int] IDENTITY(1,1) NOT NULL,
	[EmpName] [nvarchar](50) NULL,
	[EmpAddr] [nvarchar](50) NULL,
	[EmpDOB] [date] NULL,
	[EmpPhone] [varchar](50) NULL,
	[EmpPass] [varchar](50) NULL,
	[EmpUser] [varchar](50) NULL,
	[Permission] [varchar](10) NULL,
 CONSTRAINT [PK_Employee] PRIMARY KEY CLUSTERED 
(
	[EmpID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 8/30/2021 4:15:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ProId] [int] IDENTITY(1,1) NOT NULL,
	[ProName] [nvarchar](50) NOT NULL,
	[ProCate] [varchar](20) NOT NULL,
	[ProPrice] [float] NOT NULL,
	[ProQty] [int] NOT NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[ProId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Account] ON 

INSERT [dbo].[Account] ([Id], [Username], [Password]) VALUES (1, N'admin', N'202cb962ac59075b964b07152d234b70')
SET IDENTITY_INSERT [dbo].[Account] OFF
GO
SET IDENTITY_INSERT [dbo].[Bill] ON 

INSERT [dbo].[Bill] ([BillId], [Billdate], [CusName], [EmpName], [Total]) VALUES (1, CAST(N'2021-08-28' AS Date), N'SomeGuy', N'Phuc', 20000)
INSERT [dbo].[Bill] ([BillId], [Billdate], [CusName], [EmpName], [Total]) VALUES (2, CAST(N'2021-08-28' AS Date), N'Lê Na', N'abc', 19000)
INSERT [dbo].[Bill] ([BillId], [Billdate], [CusName], [EmpName], [Total]) VALUES (3, CAST(N'2021-08-28' AS Date), N'Nguyễn Văn Tám', N'abc', 12000)
SET IDENTITY_INSERT [dbo].[Bill] OFF
GO
SET IDENTITY_INSERT [dbo].[Customer] ON 

INSERT [dbo].[Customer] ([CusId], [CusName], [CusPhone], [CusAddr]) VALUES (4, N'Lê Na', N'019231290', N'qeqweq')
INSERT [dbo].[Customer] ([CusId], [CusName], [CusPhone], [CusAddr]) VALUES (8, N'Hoang Bao Phuc', N'0971126942', N'Ap Le Trang')
INSERT [dbo].[Customer] ([CusId], [CusName], [CusPhone], [CusAddr]) VALUES (9, N'Nguyen Van A', N'097456123', N'TP HCM')
SET IDENTITY_INSERT [dbo].[Customer] OFF
GO
SET IDENTITY_INSERT [dbo].[Details] ON 

INSERT [dbo].[Details] ([ID], [Product], [Quanlity], [Price], [Total], [IDBills], [Category], [IDProduct]) VALUES (1, N'Pug', 1, 1000, 1000, NULL, N'dog', NULL)
INSERT [dbo].[Details] ([ID], [Product], [Quanlity], [Price], [Total], [IDBills], [Category], [IDProduct]) VALUES (2, N'Corgi', 2, 10000, 20000, 20, N'Dog', 2)
INSERT [dbo].[Details] ([ID], [Product], [Quanlity], [Price], [Total], [IDBills], [Category], [IDProduct]) VALUES (3, N'Pug', 2, 5000, 10000, 21, N'Dog', 12)
SET IDENTITY_INSERT [dbo].[Details] OFF
GO
SET IDENTITY_INSERT [dbo].[Employee] ON 

INSERT [dbo].[Employee] ([EmpID], [EmpName], [EmpAddr], [EmpDOB], [EmpPhone], [EmpPass], [EmpUser], [Permission]) VALUES (1, N'Bao Phuc', N'Phu Giao', CAST(N'2001-07-25' AS Date), N'0971126942', N'5258d0195b85c2b33efc7977f35d008c', N'sayhellotomyfriend', N'admin')
INSERT [dbo].[Employee] ([EmpID], [EmpName], [EmpAddr], [EmpDOB], [EmpPhone], [EmpPass], [EmpUser], [Permission]) VALUES (2, N'phuc hoang', N'no where', CAST(N'2021-08-24' AS Date), N'098567345', N'202cb962ac59075b964b07152d234b70', N'unknow', N'user')
INSERT [dbo].[Employee] ([EmpID], [EmpName], [EmpAddr], [EmpDOB], [EmpPhone], [EmpPass], [EmpUser], [Permission]) VALUES (3, N'ncjwewqem', N'somewhere', CAST(N'1994-02-08' AS Date), N'098456234', N'30cd2f99101cdd52cc5fda1e996ee137', N'abc', N'admin')
SET IDENTITY_INSERT [dbo].[Employee] OFF
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([ProId], [ProName], [ProCate], [ProPrice], [ProQty]) VALUES (1, N'Husky', N'Dog', 9000, 7)
INSERT [dbo].[Product] ([ProId], [ProName], [ProCate], [ProPrice], [ProQty]) VALUES (2, N'Corgi', N'Dog', 10000, 9)
INSERT [dbo].[Product] ([ProId], [ProName], [ProCate], [ProPrice], [ProQty]) VALUES (5, N'Kitty', N'Cat', 7000, 4)
SET IDENTITY_INSERT [dbo].[Product] OFF
GO
ALTER TABLE [dbo].[Details]  WITH CHECK ADD  CONSTRAINT [FK_Details_Bill] FOREIGN KEY([IDBills])
REFERENCES [dbo].[Bill] ([BillId])
GO
ALTER TABLE [dbo].[Details] CHECK CONSTRAINT [FK_Details_Bill]
GO
USE [master]
GO
